body {
    background-color: #fff6f0;
    background-image: url(images/bigBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    color: #333;
}
.bg-light {
    background-color: #ded4cb!important;
}
.div {
    border: solid black 1px;
}
.container {
    max-width: 80%;    
}
.navbar {
    margin-bottom: 20px;
}
.img-icon {
    margin-right: -9px;
}
.img-thumbnail {
    max-width: 36%;
    border: 5px solid #444;
    margin: 0px 20px 5px 5px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
@media screen and (max-width:768px) {
    body {
        background-image: url(images/musicBG2.png);
    } 
}